{extend name="guest@base/check" /}
{block name="title"}用户注册{/block}
{block name="form"}
<form class="sign-in" id="register" onsubmit="return false;">
    <h2 class="title title-color">新用户注册</h2>
    <p class="sign-in-info title-color">精致产品 美妙生活<br>v 1.0.0</p>
    <div class="form-group has-feedback">
        <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="text" id="email" name="email" class="form-control" aria-label="请输入邮箱号" placeholder="请输入邮箱号"
                   maxlength="50" autofocus="autofocus" required="required">
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" id="password" name="password" class="form-control" aria-label="请输入密码"
                   placeholder="请输入密码" maxlength="50" required="required">
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" id="repassword" name="repassword" class="form-control" aria-label="请再输入密码"
                   placeholder="请再输入密码" maxlength="50" required="required">
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>
            <input type="text" id="code" name="code" class="form-control" placeholder="请输入验证码" required="required">
            <span class="code">
						<img class="imgcode" src="{:captcha_src()}" alt="获取失败" title="看不清，换一张！"
                             onclick="this.src='{:captcha_src()}'+'?id='+Math.random();">
					</span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="text" id="emailcode" name="emailcode" class="form-control" placeholder="请输入收到的邮箱验证码"
                   required="required">
            <span class="input-group-btn">
                           <button class="btn btn-success" type="button" id="getcode">获取验证码</button>
                        </span>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="yes" name="agree" checked="checked"><a target="_blank" href="notice.html">同意《用户使用协议》</a>
            </label>
        </div>
    </div>
    <button id="registerbtn" class="btn btn-lg btn-primary btn-block" type="button">提交注册</button>
    <a href="login.html" class="btn btn-success btn-block">已有账号？</a>
</form>
{/block}
{block name="js"}
<script type="text/javascript">
    var form = $('#register');
    $(function () {
        form.bootstrapValidator({
            message: '输入值不合法',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                email: {
                    message: '用户名验证失败',
                    validators: {
                        notEmpty: {
                            message: '邮箱号不能为空'
                        },
                        emailAddress: {
                            message: '邮箱地址格式有误'
                        }
                    }
                },
                code: {
                    validators: {
                        notEmpty: {
                            message: '验证码不能为空'
                        },
                        stringLength: {
                            min: 4,
                            max: 4,
                            message: '验证码长度不对'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 50,
                            message: '密码长度不对'
                        },
                        // 不能和用户名相同
                        different: {
                            field: 'email',
                            message: '不能和用户名相同'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: '密码由数字、字母、下划线和&middot组成'
                        }
                    }
                },
                repassword: {
                    validators: {
                        notEmpty: {
                            message: '确认密码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 50,
                            message: '密码长度不对'
                        },
                        //相同
                        identical: {
                            field: 'password',
                            message: '两次密码不一致'
                        },
                        //不能和用户名相同
                        different: {
                            field: 'email',
                            message: '不能和用户名相同'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: '密码由数字、字母、下划线和&middot组成'
                        }
                    }
                },
                emailcode: {
                    validators: {
                        notEmpty: {
                            message: '邮箱验证码不能为空'
                        }
                    }
                },
                agree: {
                    validators: {
                        notEmpty: {
                            message: '需要同意使用协议'
                        }
                    }
                }
            }

        });

        $("#registerbtn").click(function () {
            var vb = form.data('bootstrapValidator');
            vb.validate();
            if (vb.isValid()) {
                console.log(form.serialize()); //输出序列化表单值
                console.log(form.serializeArray()); //自动将form表单封装成json
                //发送ajax请求
                $.ajax({
                    url: '_URL_/registeruser',
                    async: false, //同步，会阻塞操作
                    type: 'POST', //PUT DELETE POST
                    data: form.serialize(),
                    success: function (result) {
                        console.log(result);
                        if (result.status) {
                            //window.location.reload();
                            $.confirm({
                                title: '恭喜你',
                                theme: 'modern',
                                icon: 'fa fa-warning',
                                content: '注册成功！',
                                type: 'green',
                                typeAnimated: true,
                                animation: 'zoom',
                                closeAnimation: 'scale',
                                autoClose: 'close|3000',
                                buttons: {
                                    close: {
                                        text: '关闭',
                                        btnClass: 'btn-green',
                                        action: function () {
                                            window.location.href = "_URL_/login";
                                        }
                                    }
                                }
                            });
                        } else {
                            $.confirm({
                                title: '不好意思',
                                theme: 'modern',
                                icon: 'fa fa-warning',
                                content: result.msg,
                                type: 'red',
                                typeAnimated: true,
                                animation: 'zoom',
                                closeAnimation: 'scale',
                                autoClose: 'close|3000',
                                buttons: {
                                    close: {
                                        text: '关闭',
                                        btnClass: 'btn-red',
                                        action: function () {

                                        }
                                    }
                                }
                            });
                        }
                    },
                    error: function () {
                        $.confirm({
                            title: '出错了',
                            theme: 'modern',
                            offsetTop: 30,
                            icon: 'fa fa-warning',
                            content: '无法访问服务器！',
                            type: 'red',
                            typeAnimated: true,
                            animation: 'zoom',
                            closeAnimation: 'scale',
                            autoClose: 'close|3000',
                            buttons: {
                                close: {
                                    text: '关闭',
                                    btnClass: 'btn-red',
                                    action: function () {
                                    }
                                }
                            }
                        });
                    }
                });
            } else {

            }
        })

        //判断时间是否过期了
        var validCodetime = getvalidCodetime();
        var timeLine = parseInt((new Date().getTime() - validCodetime.time) / 1000);
        if (timeLine < validCodetime.Codetime) {
            getvalidCode(form, $("#getcode"), $("#email"), $("#code"), 60, '_URL_/geteamil');
        } else {
        }
        $("#getcode").click(function () {
            getvalidCode(form, $("#getcode"), $("#email"), $("#code"), 60, '_URL_/geteamil');
        })
        //判断是否敲击了Enter键
        $(document).keyup(function(event) {
            if(event.keyCode == 13) {
                $("#registerbtn").trigger("click");
                return false;
            } else {
                return true;
            }
        })
    });
</script>
{/block}