{extend name="admin/base/base" /}
    <title>{block name="title"} - 登录{/block}</title>
{block name="body"}
<canvas style="width: 100%; height: 100%; position: absolute;" id="cas"></canvas>
<body class="gray-bg" style="background: url(_IMG_/gallery/3.JPG);background-size:100% 100%">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name" style="color: white">IRP</h1>

            </div>
            <h3>欢迎使用图像识别系统后台</h3>

            <form id="login">
                <div class="form-group">
                    <input type="text" name="login_name" class="form-control" placeholder="用户名" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="pwd" class="form-control" placeholder="密码" required="">
                </div>
                <div class="form-group" id="mpanel5" style="">
                </div>
                <span id="confirm" class="btn btn-primary block full-width m-b" >登 录</span>

                <p class="text-muted text-center"> <a href="login.html#"><small>忘记密码了？</small></a> | <a href="register.html">注册一个新账号</a>
                </p>

            </form>
        </div>
    </div>
</body>
{/block}

{block name="linkjs"}
<link rel="stylesheet" type="text/css" href="_CSS_/verify.css">
<script src="_JS_/jquery-3.1.1.min.js"></script>
<script src="_JS_/bootstrap.min.js"></script>
<script type="text/javascript" src="_JS_/verify.js" ></script>
<script src="_JS_/plugins/validate/jquery.validate.min.js"></script>
<script src="_JS_/plugins/validate/messages_zh.min.js"></script>
{/block}
{block name="js"}
<script>
    var canvas = document.getElementById("cas");
    var ctx = canvas.getContext("2d");

    resize();
    window.onresize = resize;

    function resize() {
        canvas.width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        canvas.height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
    }

    var RAF = (function() {
        return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame || function(callback) {
            window.setTimeout(callback, 1000 / 60);
        };
    })();

    // 鼠标活动时，获取鼠标坐标
    var warea = {x: null, y: null, max: 20000};
    window.onmousemove = function(e) {
        e = e || window.event;

        warea.x = e.clientX;
        warea.y = e.clientY;
    };
    window.onmouseout = function(e) {
        warea.x = null;
        warea.y = null;
    };

    // 添加粒子
    // x，y为粒子坐标，xa, ya为粒子xy轴加速度，max为连线的最大距离
    var dots = [];
    for (var i = 0; i < 300; i++) {
        var x = Math.random() * canvas.width;
        var y = Math.random() * canvas.height;
        var xa = Math.random() * 2 - 1;
        var ya = Math.random() * 2 - 1;

        dots.push({
            x: x,
            y: y,
            xa: xa,
            ya: ya,
            max: 6000
        })
    }

    // 延迟100秒开始执行动画，如果立即执行有时位置计算会出错
    setTimeout(function() {
        animate();
    }, 100);

    // 每一帧循环的逻辑
    function animate() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        // 将鼠标坐标添加进去，产生一个用于比对距离的点数组
        var ndots = [warea].concat(dots);

        dots.forEach(function(dot) {

            // 粒子位移
            dot.x += dot.xa;
            dot.y += dot.ya;

            // 遇到边界将加速度反向
            dot.xa *= (dot.x > canvas.width || dot.x < 0) ? -1 : 1;
            dot.ya *= (dot.y > canvas.height || dot.y < 0) ? -1 : 1;

            // 绘制点
            ctx.fillStyle="rgba(255,255,255,1)";
            ctx.fillRect(dot.x - 0.5, dot.y - 0.5, 1, 1);

            // 循环比对粒子间的距离
            for (var i = 0; i < ndots.length; i++) {
                var d2 = ndots[i];

                if (dot === d2 || d2.x === null || d2.y === null) continue;

                var xc = dot.x - d2.x;
                var yc = dot.y - d2.y;

                // 两个粒子之间的距离
                var dis = xc * xc + yc * yc;

                // 距离比
                var ratio;

                // 如果两个粒子之间的距离小于粒子对象的max值，则在两个粒子间画线
                if (dis < d2.max) {

                    // 如果是鼠标，则让粒子向鼠标的位置移动
                    if (d2 === warea && dis > (d2.max / 2)) {
                        dot.x -= xc * 0.03;
                        dot.y -= yc * 0.03;
                    }

                    // 计算距离比
                    ratio = (d2.max - dis) / d2.max;

                    // 画线
                    ctx.beginPath();
                    ctx.lineWidth = ratio / 2;
                    ctx.strokeStyle = 'rgba(255,255,255,' + (ratio + 0.2) + ')';
                    ctx.moveTo(dot.x, dot.y);
                    ctx.lineTo(d2.x, d2.y);
                    ctx.stroke();
                }
            }

            // 将已经计算过的粒子从数组中删除
            ndots.splice(ndots.indexOf(dot), 1);
        });

        RAF(animate);
    }
</script>
<script>
//    $(function(){
//        var canvas = document.querySelector('canvas'),
//            ctx = canvas.getContext('2d')
//        canvas.width = window.innerWidth;
//        canvas.height = window.innerHeight;
//        ctx.lineWidth = .3;
//        ctx.strokeStyle = (new Color(150)).style;
//
//        var mousePosition = {
//            x: 30 * canvas.width / 100,
//            y: 30 * canvas.height / 100
//        };
//
//        var dots = {
//            nb: 750,
//            distance: 50,
//            d_radius: 100,
//            array: []
//        };
//
//        function colorValue(min) {
//            return Math.floor(Math.random() * 255 + min);
//        }
//
//        function createColorStyle(r,g,b) {
//            return 'rgba(' + r + ',' + g + ',' + b + ', 0.8)';
//        }
//
//        function mixComponents(comp1, weight1, comp2, weight2) {
//            return (comp1 * weight1 + comp2 * weight2) / (weight1 + weight2);
//        }
//
//        function averageColorStyles(dot1, dot2) {
//            var color1 = dot1.color,
//                color2 = dot2.color;
//
//            var r = mixComponents(color1.r, dot1.radius, color2.r, dot2.radius),
//                g = mixComponents(color1.g, dot1.radius, color2.g, dot2.radius),
//                b = mixComponents(color1.b, dot1.radius, color2.b, dot2.radius);
//            return createColorStyle(Math.floor(r), Math.floor(g), Math.floor(b));
//        }
//
//        function Color(min) {
//            min = min || 0;
//            this.r = colorValue(min);
//            this.g = colorValue(min);
//            this.b = colorValue(min);
//            this.style = createColorStyle(this.r, this.g, this.b);
//        }
//
//        function Dot(){
//            this.x = Math.random() * canvas.width;
//            this.y = Math.random() * canvas.height;
//
//            this.vx = -.5 + Math.random();
//            this.vy = -.5 + Math.random();
//
//            this.radius = Math.random() * 2;
//
//            this.color = new Color();
//            console.log(this);
//        }
//
//        Dot.prototype = {
//            draw: function(){
//                ctx.beginPath();
//                ctx.fillStyle = this.color.style;
//                ctx.arc(this.x, this.y, this.radius, 0, Math.PI * 2, false);
//                ctx.fill();
//            }
//        };
//
//        function createDots(){
//            for(i = 0; i < dots.nb; i++){
//                dots.array.push(new Dot());
//            }
//        }
//
//        function moveDots() {
//            for(i = 0; i < dots.nb; i++){
//
//                var dot = dots.array[i];
//
//                if(dot.y < 0 || dot.y > canvas.height){
//                    dot.vx = dot.vx;
//                    dot.vy = - dot.vy;
//                }
//                else if(dot.x < 0 || dot.x > canvas.width){
//                    dot.vx = - dot.vx;
//                    dot.vy = dot.vy;
//                }
//                dot.x += dot.vx;
//                dot.y += dot.vy;
//            }
//        }
//
//        function connectDots() {
//            for(i = 0; i < dots.nb; i++){
//                for(j = 0; j < dots.nb; j++){
//                    i_dot = dots.array[i];
//                    j_dot = dots.array[j];
//
//                    if((i_dot.x - j_dot.x) < dots.distance && (i_dot.y - j_dot.y) < dots.distance && (i_dot.x - j_dot.x) > - dots.distance && (i_dot.y - j_dot.y) > - dots.distance){
//                        if((i_dot.x - mousePosition.x) < dots.d_radius && (i_dot.y - mousePosition.y) < dots.d_radius && (i_dot.x - mousePosition.x) > - dots.d_radius && (i_dot.y - mousePosition.y) > - dots.d_radius){
//                            ctx.beginPath();
//                            ctx.strokeStyle = averageColorStyles(i_dot, j_dot);
//                            ctx.moveTo(i_dot.x, i_dot.y);
//                            ctx.lineTo(j_dot.x, j_dot.y);
//                            ctx.stroke();
//                            ctx.closePath();
//                        }
//                    }
//                }
//            }
//        }
//
//        function drawDots() {
//            for(i = 0; i < dots.nb; i++){
//                var dot = dots.array[i];
//                dot.draw();
//            }
//        }
//
//        function animateDots() {
//            ctx.clearRect(0, 0, canvas.width, canvas.height);
//            moveDots();
//            connectDots();
//            drawDots();
//
//            requestAnimationFrame(animateDots);
//        }
//
//        $('canvas').on('mousemove', function(e){
//            mousePosition.x = e.pageX;
//            mousePosition.y = e.pageY;
//        });
//
//        $('canvas').on('mouseleave', function(e){
//            mousePosition.x = canvas.width / 2;
//            mousePosition.y = canvas.height / 2;
//        });
//
//        createDots();
//        requestAnimationFrame(animateDots);
//    });
    var ver = false;
    $("#confirm").click(function () {
        if(ver == false){
            layer.msg('请先完成验证哈！', {icon: 2});
            return false;
        }
        if($("#login").validate().form()){
            $.ajax({
                url: 'admin/login',
                type: 'POST',
                data: $("#login").serialize(),
                success: function (result) {
                    if (result.status) {
                        //status为1成功
                        layer.msg('' + result.msg, {
                            icon: 1,
                            time:3000,
                            end:function(){
                                location.href='index';
                            }
                        });

                    } else {
                        layer.msg('' + result.msg, {icon: 2});
                    }
                }
            });
        }


    })
    $('#mpanel5').slideVerify({
        type : 1,		//类型
        vOffset : 5,	//误差量，根据需求自行调整
        barSize : {
            width : '100%',
            height : '34px',
        },
        ready : function() {
        },
        success : function() {
            //......后续操作
            ver = true;
        },
        error : function() {
            ver = false;
        }

    });
//    $('#mpanel5').pointsVerify({
//        defaultNum : 5,	//默认的文字数量
//        checkNum : 3,	//校对的文字数量
//        vSpace : 5,	//间隔
//        imgName : ['_IMG_/1.jpg', '_IMG_/2.jpg'],
//        imgSize : {
//            width: '400px',
//            height: '150px',
//        },
//        barSize : {
//            width : '400px',
//            height : '40px',
//        },
//        ready : function() {
//        },
//        success : function() {
//            alert('验证成功，添加你自己的代码！');
//            //......后续操作
//        },
//        error : function() {
////		        	alert('验证失败！');
//        }
//
//    });
//    $('#mpanel4').slideVerify({
//        type : 2,		//类型
//        vOffset : 5,	//误差量，根据需求自行调整
//        vSpace : 5,	//间隔
//        imgName : ['_IMG_/1.jpg', '_IMG_/2.jpg'],
//        imgSize : {
//            width: '400px',
//            height: '200px',
//        },
//        blockSize : {
//            width: '40px',
//            height: '40px',
//        },
//        barSize : {
//            width : '400px',
//            height : '40px',
//        },
//        ready : function() {
//        },
//        success : function() {
//            alert('验证成功，添加你自己的代码！');
//            //......后续操作
//        },
//        error : function() {
////		        	alert('验证失败！');
//        }
//
//    });
</script>
{/block}